Repository datingscan/protocol: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run lint:fix, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

.lintstagedrc:

{
  "*.{ts,js,json}": [
    "pretty-quick --pattern '**/*.*(js|ts|json)' --staged"
  ],
  "*.{ts,js}": [
    "npm run lint:fix"
  ],
  "*.sol": [
    "pretty-quick --staged --pattern 'contracts/**/*.sol' --staged"
  ]
}

chore: update githooks
  .husky/pre-commit
  .husky/pre-push
Due: none

feat: add profile contract
  .solhint.json
  contracts/Greeter.sol
  contracts/match/Profile.sol
  contracts/match/ProfileLib.sol
  contracts/match/interfaces/IProfile.sol
  contracts/utils/Errors.sol
  hardhat.config.ts
  helpers/factory/factories.ts
  helpers/factory/index.ts
  helpers/factory/types.ts
  helpers/factory/wrapper.ts
  helpers/testing/index.ts
  helpers/testing/suite.ts
  helpers/typings/common.ts
  helpers/typings/index.ts
  helpers/typings/profile.ts
  tests/greeter/Greeter.test.ts
  tests/match/Match.test.ts
  tests/match/Profile.test.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run lint:fix, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

feat: rename files and minor refactoring
  contracts/match/IProfile.sol
  contracts/match/Profile.sol
  contracts/match/interfaces/IProfile.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

feat: add profile contract (#1)
  .solhint.json
  contracts/Greeter.sol
  contracts/match/IProfile.sol
  contracts/match/Profile.sol
  contracts/match/ProfileLib.sol
  contracts/utils/Errors.sol
  hardhat.config.ts
  helpers/factory/factories.ts
  helpers/factory/index.ts
  helpers/factory/types.ts
  helpers/factory/wrapper.ts
  helpers/testing/index.ts
  helpers/testing/suite.ts
  helpers/typings/common.ts
  helpers/typings/index.ts
  helpers/typings/profile.ts
  tests/greeter/Greeter.test.ts
  tests/match/Match.test.ts
  tests/match/Profile.test.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run lint:fix, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

feat: add proxy registry
  .solhint.json
  contracts/match/IProfile.sol
  contracts/match/Profile.sol
  contracts/match/ProfileLib.sol
  contracts/match/ProfileV1.sol
  contracts/match/mock/ProfileV2.sol
  contracts/proxy/IProxyRegistry.sol
  contracts/proxy/ProxyRegistry.sol
  contracts/utils/Errors.sol
  contracts/utils/Strings.sol
  hardhat.config.ts
  helpers/factory/factories.ts
  package-lock.json
  package.json
  tests/match/Match.test.ts
  tests/match/Profile.test.ts
  tests/proxy/ProxyRegistry.test.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run lint:fix, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

feat: add proxy registry (#2)
  .solhint.json
  contracts/match/IProfile.sol
  contracts/match/Profile.sol
  contracts/match/ProfileLib.sol
  contracts/match/ProfileV1.sol
  contracts/match/mock/ProfileV2.sol
  contracts/proxy/IProxyRegistry.sol
  contracts/proxy/ProxyRegistry.sol
  contracts/utils/Errors.sol
  contracts/utils/Strings.sol
  hardhat.config.ts
  helpers/factory/factories.ts
  package-lock.json
  package.json
  tests/match/Match.test.ts
  tests/match/Profile.test.ts
  tests/proxy/ProxyRegistry.test.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run lint:fix, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

chore: add deploy scripts and setup deploy task
  .gitignore
  contracts/proxy/ProxyRegistry.sol
  hardhat.config.ts
  helpers/db/db.ts
  helpers/db/index.ts
  helpers/factory/types.ts
  helpers/factory/wrapper.ts
  helpers/hardhat/hardhat.ts
  helpers/hardhat/index.ts
  helpers/typings/index.ts
  helpers/typings/networks.ts
  package-lock.json
  package.json
  scripts/accounts.ts
  scripts/deploy.ts
  scripts/deploy/01-proxy-registry.ts
  scripts/deploy/02-profile.ts
  scripts/deployGreeter.ts
  tests/match/Match.test.ts
  tests/match/Profile.test.ts
  tests/proxy/ProxyRegistry.test.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run lint:fix, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

chore: add deploy scripts and setup deploy task (#3)
  .gitignore
  contracts/proxy/ProxyRegistry.sol
  hardhat.config.ts
  helpers/db/db.ts
  helpers/db/index.ts
  helpers/factory/types.ts
  helpers/factory/wrapper.ts
  helpers/hardhat/hardhat.ts
  helpers/hardhat/index.ts
  helpers/typings/index.ts
  helpers/typings/networks.ts
  package-lock.json
  package.json
  scripts/accounts.ts
  scripts/deploy.ts
  scripts/deploy/01-proxy-registry.ts
  scripts/deploy/02-profile.ts
  scripts/deployGreeter.ts
  tests/match/Match.test.ts
  tests/match/Profile.test.ts
  tests/proxy/ProxyRegistry.test.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run lint:fix, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

feat: add admin function
  .env.example
  contracts/match/IProfile.sol
  contracts/match/Profile.sol
  hardhat.config.ts
  helpers/db/db.ts
  package.json
  scripts/deploy.ts
  tests/match/Deactivate.test.ts
  tests/match/Match.test.ts
  tests/match/Profile.test.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run lint:fix, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

feat: add admin function (#4)
  .env.example
  contracts/match/IProfile.sol
  contracts/match/Profile.sol
  hardhat.config.ts
  helpers/db/db.ts
  package.json
  scripts/deploy.ts
  tests/match/Deactivate.test.ts
  tests/match/Match.test.ts
  tests/match/Profile.test.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run lint:fix, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

chore: deploy contracts to mumbai
  .env.example
  contracts/match/Profile.sol
  hardhat.config.ts
  helpers/db/db.ts
  helpers/factory/wrapper.ts
  helpers/hardhat/hardhat.ts
  helpers/typings/networks.ts
  package.json
  scripts/deploy.ts
  scripts/deploy/01-proxy-registry.ts
  scripts/deploy/02-profile.ts
  tests/match/Profile.test.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run lint:fix, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

chore: deploy contracts to mumbai (#5)
  .env.example
  contracts/match/Profile.sol
  hardhat.config.ts
  helpers/db/db.ts
  helpers/factory/wrapper.ts
  helpers/hardhat/hardhat.ts
  helpers/typings/networks.ts
  package.json
  scripts/deploy.ts
  scripts/deploy/01-proxy-registry.ts
  scripts/deploy/02-profile.ts
  tests/match/Profile.test.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run lint:fix, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

feat: change profile struct for subgraph
  contracts/match/Profile.sol
  contracts/match/ProfileLib.sol
  package.json
  tests/match/Deactivate.test.ts
  tests/match/Match.test.ts
  tests/match/Profile.test.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run lint:fix, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

feat: change profile struct for subgraph (#6)
  contracts/match/Profile.sol
  contracts/match/ProfileLib.sol
  package.json
  tests/match/Deactivate.test.ts
  tests/match/Match.test.ts
  tests/match/Profile.test.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run lint:fix, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

chore: bump version
  package.json
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged

feat: add max likes count getter
  contracts/match/Profile.sol
  tests/match/Match.test.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run lint:fix, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

feat: add max likes count getter (#7)
  contracts/match/Profile.sol
  tests/match/Match.test.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run lint:fix, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

0.3.0
  package-lock.json
  package.json
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged

feat: add seen event
  contracts/match/Profile.sol
  tests/match/Match.test.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run lint:fix, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

feat: add seen event (#8)
  contracts/match/Profile.sol
  tests/match/Match.test.ts
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged, npm run lint:fix, pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

0.3.1
  package-lock.json
  package.json
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged

fix: change seen event param
  contracts/match/Profile.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

fix: change seen event param (#9)
  contracts/match/Profile.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

0.3.2
  package-lock.json
  package.json
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged

feat: remove like return value
  contracts/match/IProfile.sol
  contracts/match/Profile.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

feat: remove like return value (#10)
  contracts/match/IProfile.sol
  contracts/match/Profile.sol
Due: pretty-quick --staged --pattern 'contracts/**/*.sol' --staged

0.4.0
  package-lock.json
  package.json
Due: pretty-quick --pattern '**/*.*(js|ts|json)' --staged
